@each $color,
$value in $colors {
  .swatch-#{$color} {
    color: color-yiq($value);
    background-color: #{$value};
  }
}

@each $color,
$value in $theme-colors {
  .swatch-#{$color} {
    color: color-yiq($value);
    background-color: #{$value};
  }
}

@each $color,
$value in $grays {
  .swatch-#{$color} {
    color: color-yiq($value);
    background-color: #{$value};
  }
}


@each $color,
$value in $theme-colors {
  .drop-shadow-#{$color} {
    padding: 5px;
    box-shadow: 3px 3px 3px $value;
  }
}