/*=====================================================================
Steps (Wizard)
=====================================================================*/

.steps-custom {
  aw-wizard-navigation-bar.horizontal{
    margin: 1.5rem 0;
  }
  aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li {
    padding: 25px 0 0;

    div {
      a {
        color: #999;
      }
    }

    &.current,
    &.editing,
    &.done {
      div {
        a {
          color: $custom1;
        }
      }

    }

    &::after {
      top: -25px;
      left: calc(50% - 17px);
      width: 35px;
      height: 35px;
      line-height: 35px;
      background-color: #FFF !important;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35'%3E%3Cpath fill='%23E9E9E9' d='M17.5 10c4.14 0 7.5 3.36 7.5 7.5S21.64 25 17.5 25 10 21.64 10 17.5s3.36-7.5 7.5-7.5m0-10C7.84 0 0 7.84 0 17.5S7.84 35 17.5 35 35 27.16 35 17.5 27.16 0 17.5 0z'/%3E%3C/svg%3E");
    }

    &.current::after,
    &.editing::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35'%3E%3Cpath fill='#{rgba( $custom1, .999 )}' d='M17.5 10c4.14 0 7.5 3.36 7.5 7.5S21.64 25 17.5 25 10 21.64 10 17.5s3.36-7.5 7.5-7.5m0-10C7.84 0 0 7.84 0 17.5S7.84 35 17.5 35 35 27.16 35 17.5 27.16 0 17.5 0z'/%3E%3C/svg%3E");
    }

    &.done::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35'%3E%3Cpath fill='#{rgba( $custom1, .999 )}' d='M17.5 0C7.83 0 0 7.84 0 17.5S7.83 35 17.5 35 35 27.16 35 17.5 27.16 0 17.5 0zm9.21 13.33L15.8 24.2c-.17.2-.39.3-.67.3s-.49-.1-.67-.3l-6.17-6.14a.92.92 0 0 1-.26-.67c0-.27.09-.49.26-.67l1.37-1.33c.17-.2.39-.3.65-.3s.49.1.68.3l4.14 4.14 8.88-8.88c.2-.2.43-.3.68-.3s.47.1.65.3L26.71 12c.17.17.26.4.26.67s-.09.49-.26.66z'/%3E%3C/svg%3E");
    }

    
    &:not(:last-child):before{
      background-color: #E9E9E9;
      height: 2px;
      [dir='rtl'] & {
        left: unset;
        right: calc(50% + 7px);
      }
      
    }
    &.done::before{
      background-color: $custom1;
    }

  }


}


