<div class="loginbg height-100vh d-flex justify-content-center align-items-center ">
  <main>

    <div class="py-4 text-center position-relative">
      <a title="Inspection Application">
        <img alt="" src="~/../assets/images/taftesh-logo.svg">
      </a>
    </div>
    <div class="shadow card border-0 w-login">
      <div class="card-body px-5 py-4">
        <form>
          <div class="border-bottom border-light my-4 pb-3 text-center">
            <div class="">
              <figure class="thumb-lg">
                <img src="~/../assets/images/login.jpg" class="rounded-circle" alt="">
              </figure>
            </div>
            <div>
              <small class="d-block text-black-50">{{ 'Welcoming' | translate }}</small>
            </div>
          </div>
          <div class="mt-4">
            <button type="button" routerLink="/portal" class="btn btn-custom1 btn-block rounded-22">{{ 'Login' | translate }}</button>
          </div>
        </form>
      </div>
      <div class="bg-light py-3 text-center border-bottom">
        <a title="أمانة الرياض">
          <img src="~/../assets/images/Amanah-Logo.png" alt="">
        </a>
      </div>
    </div>

  </main>
</div>
